body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.header-buttons {
    /* position: absolute; */
    /* right: 20px;
    top: 10px; */
}

.header-buttons a {
    color: white;
    background-color: #5cb85c;
    padding: 5px 10px;
    margin-left: 5px;
    text-decoration: none;
    border-radius: 5px;
}

.header-buttons a:hover {
    background-color: #4cae4c;
}

.breadcrumb {
    background-color: #f8f8f8;
    padding: 10px 20px;
    font-size: 0.85em;
}

.breadcrumb a {
    color: #0275d8;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.url-cell {
    max-width: 200px; /* URLセルの最大幅 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

